.example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url('https://t4.ftcdn.net/jpg/02/53/61/69/360_F_253616948_za22DUrpvoM6aBDyPZxXDXf1OVNZFhL4.jpg');
  background-size: cover;
}


.pesci {
  display: flex;
  flex-wrap: wrap;
  gap: 144px;
}

