<mat-toolbar>
  <mat-icon>shop</mat-icon>
  <span>Pesci's Shop</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/" aria-label="Catalog button">
    Home
  </button>
  <button mat-button routerLink="/catalogo" aria-label="Catalog button">
    Catalogo
  </button>
  <button mat-button routerLink="/chisiamo" aria-label="Chi Siamo button">
    Chi Siamo
  </button>

  @if(this.servizio.isLogged()) {
  <button mat-button aria-label="Logout button" (click)="logout()">
    Logout
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Cart button">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-button aria-label="Logout button">
    ListUsers
  </button>
  }
  @else {
  <button mat-button routerLink="/login" aria-label="Login button">
    Login
  </button>
  }
</mat-toolbar>
