<div class="main" style="font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 24px;">
  <p>
    Essere, o non essere, tale è il problema.
    È egli più decoroso per l’anima di tollerare i colpi dell’ingiusta fortuna, o impugnare le armi contro un mare di
    dolori e, affrontandoli, finirli?
    Morire, dormire, null'altro; e dire che con quel sonno poniamo termine alle angosce del cuore e ai mille affanni
    naturali di cui è erede la carne.... è una conchiusione da essere avidamente desiderata.
    Morire,... dormire,... dormire! forse sognare...;
    ah, ecco il punto; perocchè quali sogni possono sopravvenire in quel sonno di morte, allorchè reciso abbiamo il filo
    di questo mondo?
    Ecco quello che ci trattiene, ed è ciò che rende l’infortunio sì lungo: perocche chi vorrebbe altrimenti sopportare
    i flagelli del tempo, gli oltraggi degli oppressori, le contumelie dei superbi, le angosce dell’amore disprezzato,
    le cabale della legge, l’insolenza dei governanti, e i vilipendi che il merito paziente soffre dall’abbietta
    ignoranza, quando un ferro gli basterebbe per darsi quiete?
    Chi vorrebbe sopportare questi fardelli, e gemere, e affannarsi, trascinando un’inferma vita, se non fosse il timore
    di qualche cosa al di là della tomba, di quel paese ignoto, da cui nessun viaggiatore ritorna, che turba la volontà,
    e fa preferirci i mali che abbiamo, piuttostochè affrontarne altri che ci sono sconosciuti?
    Così la coscienza ci rende tutti codardi, e il colore ingenito della risoluzione rimane offuscato dalla pallida
    ombra del pensiero; cosi le imprese di maggior polso e momento si sviano dal loro corso naturale, e perdono il nome
    di azioni. — Pace ora! La bella Ofelia,
    — Ninfa, nelle tue orazioni siano ricordati tutti i miei peccati.
  </p>
</div>
